.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: grey;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 5px;
  margin-left: 15px;
}

.sidebarOption--active,
.sidebarOption--active > h3,
.sidebarOption--active > p {
  background-color: #FCE8E6;
  color: #D93025;
  font-weight: 700 !important;
}

.sidebarOption:hover,
.sidebarOption:hover > h3,
.sidebarOption:hover > p {
  background-color: #e9e9e9;
  font-weight: 600 !important;
}

.sidebarOption > p {
  display: none;
  font-weight: 3000;
}

.sidebarOption >h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.sidebarOption:hover > p {
  display: inline;
}

.sidebarOption--active {
  /* display: inline ; */
}